body {
  padding-top: 70px;
}

.bg-lightgray {
  background-color: LightGray;
}

.image-home {
  margin-bottom: 30px;
  background-image: url(/images/image1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
  height: auto;
}

.content-on-image h2, label {
  color: #FFFAFA;
}

.content-on-image {
  margin: auto;
  width: 96%;
}

.content-on-image h2 {
  font-weight: 600;
  font-size: 50px;
  text-align: center;
}

.form-on-image {
  margin-top: 40px;
}

.btn-search {
  margin-top: 50px;
}

.featured_title {
  color: #fff;
  font-size: 19px;
  margin: 0;
  padding: 9px 10px;
  width: 100%
}

.single_widget {
  padding: 20px 0 10px;
  width: 100%;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  overflow: hidden;
  margin-bottom: 10px;
  height: 250px;
}

figure {
  position: relative;
  width: 100%;
  text-align: center;
  cursor: pointer
}

figure.effect-lily img {
  opacity: 0.7;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transition: width 2s height 2s;
  transition: width 2s height 2s;
  width: 80%;
  height: 100%
}

figure.effect-lily a:hover img {
  opacity: 1;
  width: 100%;
}

figcaption a {
  display: block;
  padding: 15px 15px 0px;
  font-size: 16px;
  position: relative;
}
