<footer class="container-fluid text-center bg-lightgray">

        <div class="copyrights" style="margin-top:25px;">
            <p>HoChiMinh City © 2017, All Rights Reserved
                <br>
                <span>Web Design By: IS Team</span></p>
            <p><a href="https://github.com/UDPT-2017/project-is" target="_blank">Github <i class="fa fa-linkedin-square" aria-hidden="true"></i> </a></p>
        </div>
</footer>
