<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="images\image4.png" width = "100" height = "60">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">KHÁCH SẠN <span class="sr-only">(current)</span></a></li>
        <li><a href="#">DU LỊCH</a></li>
        <li><a href="#">KHUYẾN MÃI</a></li>
        <li><a href="/camnang">CẨM NANG</a></li>
        <li><a href="/lienhe">LIÊN HỆ</a></li>
        <li><a href="/signup/signup"><span class="glyphicon glyphicon-pencil"></span> Sign Up </a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
      </ul>
    </div>
  </div>
</nav>
