<div class="row">
  <div class="col-md-12">
    <div class="image-home-form">
      <img class="image-home" src="images/image1.jpg" alt="image">
      <div class="content-on-image">
        <p style="text-align: center; font-weight: 600; font-size: 50px">Tìm và đặt khách sạn giá tốt nhất</p>
        <form class="form-on-image">
          <div class="row">
            <div class="col-md-6">
              <label style="font-weight: 400; font-size: 20px">Tìm nhanh khách sạn</label>
              <input type="text" class="form-control" placeholder="Nhập tên thành phố, tên khách sạn,...">
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="dtp_input2" class="control-label" style="font-weight: 400; font-size: 20px">Ngày nhận phòng</label>
                <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                  <input class="form-control" size="16" type="text" value="" readonly>
                  <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <input type="hidden" id="dtp_input2" value="" /><br/>
              </div>
            </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="dtp_input2" class="control-label" style="font-weight: 400; font-size: 20px">Ngày trả phòng</label>
              <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                <input class="form-control" size="16" type="text" value="" readonly>
                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
              </div>
              <input type="hidden" id="dtp_input2" value="" /><br/>
            </div>
          </div>
      </div>
      </form>
    </div>
  </div>
</div>
</div>

