<h2>{{message}}</h2>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <h2 class="featured_title">Khách sạn VIP</h2>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="single_widget">
          <figure class="effect-lily"><a href="#"><img src="images/image.jpg" alt=""></a>
            <figcaption><a href="#">Tiêu đề</a></figcaption>
          </figure>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="single_widget">
          <figure class="effect-lily"><a href="#"><img src="images/image.jpg" alt=""></a>
            <figcaption><a href="#">Tiêu đề</a></figcaption>
          </figure>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="single_widget">
          <figure class="effect-lily"><a href="#"><img src="images/image.jpg" alt=""></a>
            <figcaption><a href="#">Tiêu đề</a></figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>

<input class="typeahead"></input>

<script type="text/javascript">
  $(document).ready(function() {

    // Instantiate the Bloodhound suggestion engine
    var countries = new Bloodhound({
      datumTokenizer: Bloodhound.tokenizers.obj.whitespace('tenks'),
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      prefetch: {
        url: '../data/countries.json',
        cache: false
      }
    });

    // Initialize the Bloodhound suggestion engine
    countries.initialize();

    // Instantiate the Typeahead UI
    $('.typeahead').typeahead(null, {
      name: 'aa-a',
      display: 'tenks',
      source: countries.ttAdapter()
    });
  });
</script>
