<div class = "content">
<h1 style="text-align:left;font-size:20pt;color:#FF0040"><strong>Du lịch Phú Quốc check in 3 con suối hoang sơ tuyệt đẹp</strong>
<hr width="90%" align="left" /> 
<h1 style="text-align:center;font-size:15pt;color:#0404B4"><strong>Suối Tranh</strong> </h1>

<center><img alt = "Suối tranh" src = "\images\camnang\suoitranh.jpg" width = "550" height = "350"></center>
<p style="text-align:justify">Nằm cách thị trấn Dương Đông khoảng 10 km, suối Tranh là một nhánh bắt nguồn từ dãy núi Hàm Ninh, được hình thành bởi các khe suối nhỏ róc rách hợp thành.
</br>Phong cảnh thiên nhiên ở Suối Tranh hết sức hài hòa, đó là sự hòa hợp giữa những thác nước nhỏ êm đềm, nước suối trong vắt, soi rõ những tán lá cây ở phía trên, xen kẽ những tán lá là những nhánh phong lan rừng đẹp kiêu sa. Tất cả làm nên một bức tranh phong cảnh đẹp mê hồn, tên gọi suối Tranh cũng từ đó mà hình thành.
</br>Đến với suối Tranh, du khách có thể tha hồ đi dạo trên những con đường mòn hẹp, dưới chân là những thảm thực vật mềm mại, hai bên đường là hoa thơm cỏ lạ, bướm bay dập dìu, không khí thì vô cùng trong lành.
</br>Từ Dương Đông, bạn có thể thuê xe máy, chạy theo đường 30 tháng 4 hướng về Hàm Ninh, sau đó đi tiếp theo đường TL47 là đến khu du lịch Suối Tranh.
</br></p>

<h1 style="text-align:center;font-size:15pt;color:#0404B4"><strong>Suối Đá Bàn</strong> </h1>
<center><img alt = "Suối tranh" src = "\images\camnang\suoidaban.jpg" width = "550" height = "350"></center>
<p style="text-align:justify">Sở dĩ suối có tên gọi như vậy là do ở đây sở hữu những tảng đá lớn và bằng phẳng tựa như mặt bàn do đó người dân Phú Quốc gọi là suối Đá Bàn. Tương truyền, những tảng đá này là nơi các tiên nữ thường ngồi tắm mát mỗi lần hạ giới.
</br>Suối Đà Bàn nằm tại xã Cửa Dương, gần hồ Dương Đông, cách thị trấn Dương Đông khoảng 8 km về phía Đông Bắc đảo Phú Quốc. Từ thị trấn Dương Đông, bạn đi theo đường Nguyễn Trung Trực khoảng 3km, nhìn theo bảng hướng dẫn sau đó rẽ phải theo đường mòn thêm 4km nữa là tới. Tới nơi, bạn sẽ gửi xe tại đây và qua cây cầu dây văng, rồi thả bộ khoảng 15 phút nữa là đến suối.
</br>Tại suối Đá Bàn, bạn có thể đi ngược lên độ 200m nữa sẽ thấy nhiều đoạn đẹp hơn. Lưu ý nên đi chân không khi bước giữa lòng suối để tránh rêu trơn trợt. Khi thấy suối mát đừng nhảy xuống tắm ngay mà nên làm nóng người một chút và xuống từ từ vì nước khá lạnh.</p>

<h1 style="text-align:center;font-size:15pt;color:#0404B4"><strong>Suối Tiên</strong> </h1>
<center><img alt = "Suối Tiên" src = "\images\camnang\suoitien.png" width = "550" height = "350"></center>
<p style="text-align:justify">Từ thị trấn Dương Đông đi về ấp Suối Đá (xã Dương Tơ) chừng 5km, đến ngã ba rẽ trái vào đường đất đỏ đi thêm khoảng 2km là tới chân suối Tiên. Tại đây, tiếp tục đi bộ thêm một đoạn đường ngắn nữa mới đến suối. Đường vào suối Tiên khá hẹp, chỉ có thể đi bằng xe hai bánh tuy nhiên đường khá dễ đi.
</br>Suối Tiên chảy từ trên núi xuống với tổng chiều dài ước lượng trên dưới 1km. Giống như suối Đá Bàn hay suối Tranh, lòng suối Tiên cũng có những tảng đá to và khá bằng phẳng có thể trở thành những “thạch bàn” cho du khách nghỉ chân. Suối chảy len lỏi theo núi đá, đoạn dưới suối tạo thành thác nhỏ và một hồ nước khá rộng..
</br>Xung quanh suối Tiên là rừng nguyên sinh nên cây cối um tùm tạo ra không gian mát mẻ và thoải mái, nếu du khách ghé thăm suối vào khoảng thời gian từ tháng 12 đến tháng 2 thì sẽ được nhìn ngắm hai bên suối đầy những cây sim chín.
</br>Suối Tiên không phải là một điểm du lịch quá nổi bật ở Phú Quốc, nhưng nó lại hấp dẫn du khách bởi khung cảnh thiên nhiên tươi đẹp và còn rất nguyên sơ.</p>
<div>Theo <strong>Thảo Nguyễn</strong> (Wiki Travel)</div>

<h1 style="text-align:left;font-size:20pt;color:#FF0040"><strong>3 nông trại ở Đà Lạt tha hồ cho bạn chụp 1001 kiểu ảnh sống ảo</strong>
<hr width="90%" align="left" />
<h1 style="text-align:center;font-size:15pt;color:#0404B4"><strong>Vinamilk Organic Milk Farm</strong> </h1>
<center><img alt = "Vinamilk Organic Milk Farm" src = "\images\camnang\vinamilk.jpg" width = "550" height = "350"></center>
</br><p style="text-align:justify">Mới vừa khánh thành trong thời gian gần đây nhưng Vinamilk Organic Milk Farm, trang trại bò sữa tiêu chuẩn organic châu Âu đầu tiên tại Việt Nam đã thu hút đông đảo các bạn trẻ đến tham quan. Cách trung tâm TP. Đà Lạt khoảng 35km, với đồng cỏ bao la xanh mướt và hàng trăm chú bò tung tăng gặm cỏ cạnh chiếc cối xay gió khổng lồ, có thể nói nơi đây không khác gì một vùng nông thôn của Hà Lan thu nhỏ. Đến với Vinamilk Organic Farm Đà Lạt, các bạn có thể tham quan nông trại bò sữa, tìm hiểu quy trình sản xuất dòng sữa organic, thư giãn và chụp choẹt với khung cảnh thiên nhiên cực đẹp của trang trại.
</br>Địa chỉ: thôn Lạc Trường, xã Tu Tra, huyện Đơn Dương, tỉnh Lâm Đồng. Từ cầu Bồng Lai huyện Đức Trọng chạy vào 10km là sẽ có bảng chỉ dẫn đường cho các bạn nhé.</p>

<h1 style="text-align:center;font-size:15pt;color:#0404B4"><strong>Dalat Milk Farm</strong> </h1>
<center><img alt = "Dalat Milk Farm" src = "\images\camnang\dalatmilk.jpg" width = "550" height = "350"></center>
<p style="text-align:justify">Dalat Milk Farm thuộc xã Tu Tra, huyện Đơn Dương, tỉnh Lâm Đồng. Nông trại này hấp dẫn các bạn trẻ tìm đến bởi những cánh đồng hoa rộng mênh mông, hồ nước xanh thơ mộng và cả đàn bò sữa đáng yêu. Với khung cảnh thơ mộng, Dalat Milk Farm không chỉ là điểm chụp choẹt của giới trẻ mà nó còn là chốn bình yên để bạn thư giãn, tận hưởng một không gian riêng tư và hoàn toàn tách biệt sự ồn ào của thành thị.
</br>Để đến Dalat Milk Farm, bạn đi xe máy từ trung tâm thành phố Đà Lạt về hướng huyện Đức Trọng theo quốc lộ 20 khoảng 25 km, gặp ngã ba Bồng Lai, rẽ trái vào 10 km.
</p>

<h1 style="text-align:center;font-size:15pt;color:#0404B4"><strong>Đồi chè Cầu Đất</strong> </h1>
<center><img alt = "Đồi chè Cầu Đất" src = "\images\camnang\doiche.jpg" width = "550" height = "350"></center>
<p style="text-align:justify">Cách trung tâm thành phố 25 km, đồi chè Cầu Đất ở thôn Xuân Trường mở ra một khung cảnh thiên nhiên tuyệt diệu. Tới đây bạn sẽ được tận hưởng cảnh vật và thiên nhiên trong lành. Màu xanh ngắt của những cánh đồng chè ngút ngàn quả là một bức tranh ấn tượng mà bạn không nên bỏ lỡ. Nơi đây cũng là địa chỉ được nhiều du khách chọn để chụp ảnh, còn gì tuyệt hơn khi được chụp ảnh giữa khung cảnh lãng mạn của đồi chè xanh mướt với ánh nắng lấp lánh nắng hay sương mù bảng lảng.</p>
<div>Theo <strong>Thảo Nguyễn</strong> (Wiki Travel)</div>


<h1 style="text-align:left;font-size:20pt;color:#FF0040"><strong>5 trải nghiệm hè thú vị tại Hạ Long</strong>
<hr width="90%" align="left" />
<h1 style="text-align:center;font-size:15pt;color:#0404B4"><strong>Du thuyền Vịnh Hạ Long</strong> </h1>
<center><img alt = "Du thuyền Vịnh Hạ Long" src = "\images\camnang\duthuyen.jpg" width = "550" height = "350"></center>
<p style="text-align:justify">Đến Hạ Long mà bỏ qua chuyến du thuyền ngủ đêm trên vịnh Halong bay cruise là một điều rất đáng tiếc. Nếu du khách không có đủ thời gian cho chương trình hai ngày một đêm, có thể thu xếp thời gian để trải nghiệm hành trình ngắn ngủi 4-5 tiếng cho một tuyến tàu ngày. Đa phần các chuyến tàu của chương trình một ngày đều khởi hành từ bến tàu Quốc tế Tuần Châu. Giá vé dao động từ 300.000 đồng đến 400.000 đồng cho một người lớn. Tại đây, du khách có thể tham quan một số hang động như: Thiên Cung, Đầu Gỗ, Sửng Sốt hay tắm tại bãi Titop và chèo thuyền kayak...</p>

<h1 style="text-align:center;font-size:15pt;color:#0404B4"><strong>Tắm biển Bãi Cháy</strong> </h1>
<center><img alt = "Tắm biển Bãi Cháy" src = "\images\camnang\baichay.jpg" width = "550" height = "350"></center>
<p style="text-align:justify">Cách đây vài năm về trước, Bãi Cháy chỉ là một bờ biển thò ra với những mỏm, bờ gồ ghề, nhiều sỏi cứng, cách đó một đoạn không xa là bến tàu đơn sơ phục vụ khách du lịch. Vài năm gần đây, con đường ven biển Bãi Cháy đã được một tập đoàn lớn đầu tư xây dựng các hạng mục như: bãi biển, khu vui chơi, cáp treo... cuốn hút nhiều du khách đến tham quan và trải nghiệm.</p>

<h1 style="text-align:center;font-size:15pt;color:#0404B4"><strong>Trải nghiệm cáp treo</strong> </h1>
<center><img alt = "Trải nghiệm cáp treo" src = "\images\camnang\captreo.jpg" width = "550" height = "350"></center>
<p style="text-align:justify">Cáp treo Nữ Hoàng có hai tầng với sức chứa lên tới 230 người một lúc, đi từ biển Bãi Cháy tới đồi Ba Đèo khu vực Hòn Gai. Từ đây, du khách có thể chiêm ngưỡng toàn vịnh và thành vố Du lịch Hạ Long từ trên cao.</p>

<h1 style="text-align:center;font-size:15pt;color:#0404B4"><strong>Trải nghiệm vòng quay mặt trời</strong> </h1>
<center><img alt = "Trải nghiệm vòng quay mặt trời" src = "\images\camnang\vongquaymattroi.jpg" width = "550" height = "350"></center>
<p style="text-align:justify">Sau khi đến nơi, du khách có thể tham gia trò chơi vòng quay mặt trời Sun Wheel hoặc tàu lượn trên không rất thú vị. Dịch vụ này không quá đất đỏ, tuy nhiên mỗi du khách chỉ được đu mình trên không khoảng 10-20 phút tùy theo yêu cầu.</p>

<h1 style="text-align:center;font-size:15pt;color:#0404B4"><strong>Ngắm cảnh Hạ Long bằng thủy phi cơ</strong> </h1>
<center><img alt = "Ngắm cảnh Hạ Long bằng thủy phi cơ" src = "\images\camnang\ngamcanh.jpg" width = "550" height = "350"></center>
<p>15 phút vãn cảnh Vịnh Hạ Long trên cao bằng thủy phi cơ Hai Au Aviation sẽ giúp bạn có thể thu trọn vào tầm mắt toàn cảnh thành phố và vịnh Hạ Long .
</br>Để nhận được mức giá ưu đãi cho các dịch vụ trên, du khách có thể liên hệ văn phòng Công ty hàng không Hải Âu - bến tàu Tuần Châu hoặc Halong Sapa Experts. Công ty này cũng cung cấp dịch vụ bay khứ hồi từ Hà Nội, tuy nhiên chi phí này khá đắt đỏ. </p>
<div>Theo <strong>Thảo Nguyễn</strong> (Wiki Travel)</div>

</div>




