<div class = "content">

<h2 style = "text-align :center">
			  <font face = "cursive" color = '#FF0000'>THÔNG TIN NHÓM</font><br>			  
</h2>
<div class="col-lg-3 col-md-3 col-sm-3">

<table style = "width = 100%", "margin:auto">

<th> <img alt = "me" src = "\images\team\me.jpg" width = "200" height = "200"></th>
<th> <img alt = "you" src = "\images\team\you.jpg" width = "200" height = "200"></th>
<th> <img alt = "minh" src = "\images\team\minh.jpg" width = "200" height = "200"></th>
<th> <img alt = "toan" src = "\images\team\toan.jpg" width = "200" height = "200"></th>


 <tr><p style = "font-size: 40px font-family : Arial">
	  <td>Họ và tên: Nguyễn Hoàng Lân <br>
	  MSSV: 1412282 <br>
	  Email: hoanglanars96@gmail.com<br>
	  Số điện thoại: 01642830580</td>
	  
	  <td>Họ và tên: Hà Mạnh Kiệt <br>
	  MSSV: 1412269 <br>
	  Email: hamanhkiet77@gmail.com <br>
	  Số điện thoại: 0975964929</td>
	  
	  <td>
	  Họ và tên: Đặng Nhật Minh <br>
	  MSSV: 1412316 <br>
	  Email:<br>
	  Số điện thoại:
	  </td>
	  
	  <td>
	  Họ và tên: Dương Minh Toàn <br>
	  MSSV: 1412553<br>
	  Email:<br>
	  Số điện thoại: 
	  </td>
	  </p></tr>
	  </table>
	  <style>
	  th {
	  padding: 20px
	  }
	  </style>
	 <iframe width="350" height="350" frameborder="0" style="border:1" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ3eH0BhwvdTERPZpT1PEAOQQ&key=AIzaSyDRtVFMHddfCjpERHeESY8I3RlUZJOYmGc" allowfullscreen></iframe> 
	 </div>
	 </div>
</div>